/*
Buttons are taken from:
http://fxexperience.com/2011/12/styling-fx-buttons-with-css/
 */
#defaultTab {
    -fx-background-color:
            linear-gradient(#e6e6e6, #c9c9c9),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, #c9c9c9 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
}
#selectedTab {
    -fx-background-color:
            linear-gradient(#dde0af, #bbd18e),
            radial-gradient(center 50% -40%, radius 200%, #dde0af 45%, #bbd18e 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
}
#timeEndedBtn {
    -fx-background-color:
            linear-gradient(#d49d9d, #c27676),
            radial-gradient(center 50% -40%, radius 200%, #d49d9d 45%, #c27676 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
}
#createTab {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-size: 2em; /* 12 */
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
}

.combo-box>.list-cell {
    -fx-alignment: center;
}
.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
}